<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>NNDDServer</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>GetFlv</display-name>
    <servlet-name>GetFlv</servlet-name>
    <servlet-class>org.mineap.nndd.server.api.getflv.GetFlv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetFlv</servlet-name>
    <url-pattern>/api/getflv/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetMsg</display-name>
    <servlet-name>GetMsg</servlet-name>
    <servlet-class>org.mineap.nndd.server.api.getmsg.GetMsg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetMsg</servlet-name>
    <url-pattern>/api/getmsg/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetThreadKey</display-name>
    <servlet-name>GetThreadKey</servlet-name>
    <servlet-class>org.mineap.nndd.server.api.getthreadkey.GetThreadKey</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetThreadKey</servlet-name>
    <url-pattern>/api/getthreadkey/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VideoStream</display-name>
    <servlet-name>VideoStream</servlet-name>
    <servlet-class>org.mineap.nndd.server.videostream.VideoStream</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VideoStream</servlet-name>
    <url-pattern>/videostream/*</url-pattern>
  </servlet-mapping>
  
</web-app>